@using dotnet_facebook.Models.DatabaseObjects.Posts
@model dotnet_facebook.Models.DatabaseObjects.Posts.MainPost

@{
    ViewData["Title"] = "Manage Post";
}

<h1>Comments for post @(@Model.PostId):</h1>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OwnerUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (Comment item in ViewBag.Comments) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OwnerUser.Nickname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                <form asp-action="DeleteComment">
                    <input type="hidden" name="id" value="@item.PostId" />
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
