@model dotnet_facebook.Models.DatabaseObjects.Groups.Group

@{
    ViewData["Title"] = "Profile Card";
    Layout = "_LayoutRegular";
}

@section Styles
{
    <link rel="stylesheet" href="~/css/profilestyles.css" />
}

<div class="card">
    <div class="container">
        <div class="row p-0">
            <div class="col p-0">
                <img class="profile-img rounded-4" src="~/defaultUser.jpg" alt="Jan Kowalski">
            </div>
            <div class="col container p-0">
                <div class="row h-25 bg-secondary mx-3 mb-3 rounded-4 justify-content-center align-items-center">
                    <p class="m-0 text-center">@Model.GroupName</p>
                </div>
                <div class="row h-25 bg-secondary mx-3 my-3 rounded-4 justify-content-center align-items-center">
                    <p class="m-0 text-center">Created: @Model.GroupCreationDate.ToShortDateString()</p>
                </div>
                <button class="row h-25 bg-secondary mx-3 my-3 rounded-4 justify-content-center align-items-center" data-bs-toggle="modal" data-bs-target="#membersModal">
                    <p class="m-0 text-center">Show members</p>
                </button>
                @*
                <div class="row h-25 bg-secondary mx-3 my-3 rounded-4 justify-content-center align-items-center">
                <p class="m-0 text-center">Join</p>
                </div>
                *@
            </div>
        </div>
    </div>

    <div class="buttons my-2">
    </div>
    <div class="bio rounded-4" id="bio-text">@Model.GroupDescription</div>

    <div class="edit-bio-form" id="edit-bio-form" style="display: none;">
    </div>
</div>

<div class="modal fade" id="membersModal" tabindex="-1" aria-labelledby="membersModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="membersModalLabel">Group Members</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Nickname</th>
                            <th>Role</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var user in Model.Users)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => user.User.Nickname)</td>
                                <td>@Html.DisplayFor(modelItem => user.GroupRole)</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="changePfp" tabindex="-1" aria-labelledby="centeredModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="centeredModalLabel">Change Profile Picture</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div id="drop_zone" class="bg-primary rounded-4 p-2 py-4" ondrop="dropHandler(event);" ondragover="dragOverHandler(event);" ondragleave="dragEndHandler(event)">
                    <p class="text-white text-center my-auto" id="dragText">Drag a (.png, .jpg) file <i>here</i>. (max 5MB)</p>
                </div>
                <p id="pfp-error" class="text-center" style="color: red; display: none;"></p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
