@model dotnet_facebook.Models.DatabaseObjects.Roles.UserSiteRole

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>UserSiteRole</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label>Select User</label>
                <select name="selectedUserId" class="form-control">
                    <option value="">Select User</option>
                    @foreach (var user in ViewBag.Users)
                    {
                        <option value="@user.Value">@user.Text</option>
                    }
                </select>
                <span class="text-danger">@Html.ValidationMessage("selectedUserId")</span>
            </div>
            <br />
            <div class="form-group">
                <label>Select User</label>
                <select name="selectedRoleId" class="form-control">
                    <option value="">Select Role</option>
                    @foreach (var user in ViewBag.Roles)
                    {
                        <option value="@user.Value">@user.Text</option>
                    }
                </select>
                <span class="text-danger">@Html.ValidationMessage("selectedRoleId")</span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
