@model dotnet_facebook.Models.DatabaseObjects.Groups.Group

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Group</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GroupName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GroupName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GroupDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GroupDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GroupCreationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GroupCreationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GroupPictureFileName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GroupPictureFileName)
        </dd>
        <h4>Users in Group:</h4>
        <ul>
            @foreach (var user in Model.Users)
            {
                <li><b>@user.User.Nickname</b> | @user.GroupRole</li>
            }
        </ul>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.GroupId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
